/workspace/PlayGround/HelloQtWorld_1/dist/
/workspace/PlayGround/HelloQtWorld_1/build/
/home/jem/reliable-slam/workspace/Analysis/EKFSlam/Videos/2D-2Transponders/imgs/
/home/jem/reliable-slam/workspace/Analysis/EKFSlam/Videos/2D-4Transponders/imgs/
workspace/Analysis/EKFSlam/ExtendedKalmanFilterSLAM-build-desktop-Qt_4_8_2_in_PATH__System__Release/
workspace/Analysis/General/Utils-build-desktop-Qt_4_8_2_in_PATH__System__Release/
workspace/Analysis/IntervalAnalysis/BoxParticleFilter-build-desktop-Qt_4_8_2_in_PATH__System__Release/
workspace/Analysis/HybridSLAM/IntervalContractorsAndParticleFilterSLAM-build-desktop-Qt_4_8_2_in_PATH__System__Release/
workspace/PlayGround/IBEXPlayground-build-desktop-Qt_4_8_2_in_PATH__System__Release/
workspace/Analysis/IntervalAnalysis/BoundedErrorEstimatorSLAM-build-desktop-Qt_4_8_2_in_PATH__System__Release/
workspace/Analysis/FastSLAM/FastSLAM1_0-build-desktop-Qt_4_8_2_in_PATH__System__Release/
workspace/Analysis/EKFSlam/ExtendedKalmanFilterSLAM/ExtendedKalmanFilterSLAM.pro.user
workspace/Analysis/EKFSlam/ExtendedKalmanFilterSLAM/ExtendedKalmanFilterSLAM.pro.user.2.6pre1
workspace/Analysis/FastSLAM/FastSLAM1_0/FastSLAM1_0.pro.user
workspace/Analysis/FastSLAM/FastSLAM1_0/FastSLAM1_0.pro.user.2.6pre1
workspace/Analysis/General/Utils/Utils.pro.user
workspace/Analysis/General/Utils/Utils.pro.user.2.6pre1
workspace/Analysis/HybridSLAM/IntervalContractorsAndParticleFilterSLAM/IntervalContractorsAndParticleFilterSLAM.pro.user
workspace/Analysis/HybridSLAM/IntervalContractorsAndParticleFilterSLAM/IntervalContractorsAndParticleFilterSLAM.pro.user.2.6pre1
workspace/Analysis/IntervalAnalysis/BoundedErrorStateEstimatorSLAM/BoundedErrorStateEstimatorSLAM.pro.user
workspace/Analysis/IntervalAnalysis/BoundedErrorStateEstimatorSLAM/BoundedErrorStateEstimatorSLAM.pro.user.2.6pre1
workspace/Analysis/IntervalAnalysis/BoxParticleFilter/BoxParticleFilter.pro.user
workspace/Analysis/IntervalAnalysis/BoxParticleFilter/BoxParticleFilter.pro.user.2.6pre1
workspace/contrib/Renata/localizacaoSivia/sivia_simple.pro.user
workspace/contrib/Renata/localizacaoSivia/teste/teste.pro.user
workspace/PlayGround/IBEXPlayground/IBEXPlayground.pro.user
workspace/PlayGround/IBEXPlayground/IBEXPlayground.pro.user.2.6pre1
workspace/Samples/SiviaIbex/sivia_simple.pro.user
workspace/Samples/SiviaIbex/sivia_simple.pro.user.2.1pre1
