/workspace/PlayGround/HelloQtWorld_1/dist/
/workspace/PlayGround/HelloQtWorld_1/build/
/home/jem/reliable-slam/workspace/Analysis/EKFSlam/Videos/2D-2Transponders/imgs/
/home/jem/reliable-slam/workspace/Analysis/EKFSlam/Videos/2D-4Transponders/imgs/
